{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     
    <!-- Boxicons -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<!-- delivery_boys_list.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


 


    <!-- My CSS -->
    <link rel="stylesheet" href="style.css">

    <title>Staff</title>
    <link href="{% static 'css/adminstyle.css' %}" rel="stylesheet">

    {% block style %}
    
    {% endblock style %}



</head>
<body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Staff</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="#">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url "staff-view-policy-holder" %}">
                    <i class='bx bxs-shopping-bag-alt' ></i>
                    <span class="text">Applied policy holder</span>
                </a>
            </li>
            <li>
                <a href="{% url "staff-view-waiting-policy-holder" %}">
                    <i class='bx bxs-shopping-bag-alt' ></i>
                    <span class="text">Pending approval</span>
                </a>
            </li>

            <li>
                <a href="{% url "staff-view-approved-policy-holder" %}">
                    <i class='bx bxs-shopping-bag-alt' ></i>
                    <span class="text">Approved policy holders</span>
                </a>
            </li>
            
            <li>
                <a href="{% url "staff-view-disapproved-policy-holder" %}">
                    <i class='bx bxs-shopping-bag-alt' ></i>
                    <span class="text">disapproved_policy_holder</span>
                </a>
            </li>
            
            <li>
                <a href="{% url "add-agent" %}">
                    <i class='bx bxs-doughnut-chart' ></i>
                    <span class="text">Register Agents</span>
                </a>
            </li>
            <li>
                {% comment %} <a href="">
                    <i class='bx bxs-message-dots' ></i>
                    <span class="text">winners</span>
                </a>
            </li>

            <li>
                <a href="">
                    <i class='bx bxs-message-dots' ></i>
                    <span class="text">Reviews</span>
                </a>
            </li>
            <li> {% endcomment %}
                {% comment %} <a href="#">
                    <i class='bx bxs-group' ></i>
                    <span class="text">Team</span>
                </a> {% endcomment %}
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#">
                    {% comment %} <i class='bx bxs-cog' ></i>
                    <span class="text">Settings</span> {% endcomment %}
                </a>
            </li>
            <li>
                <a href="{% url "handlelogout" %}" class="logout">
                    <i class='bx bxs-log-out-circle' ></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <i class='bx bx-menu'></i>
            <a href="{% url 'add-agent' %}" class="nav-link btn btn-secondary">Register Agents</a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url "staff_list_customers" %}" class="nav-link btn btn-secondary">
                            New Policy Issue
                        </a>
                        </button>
                    </li>
                   
                    <li class="nav-item">
                        <a href="{% url "staff_claim_list" %}" class="nav-link btn btn-secondary">
                            Claim Approval
                        </a>
                        </button>
                    </li>
                </ul>
            </div>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            <a href="#" class="notification">
                <!-- Notification icon placeholder -->
            </a>
            <a href="#" class="profile">
                <img src="{% static 'images/profile_picture.png' %}">
            </a>
        </nav>
        
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Dashboard</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li><i class='bx bx-chevron-right' ></i></li>
                        <li>
                            <a class="active" href="#">Home</a>
                        </li>
                    </ul>
                </div>
                {% comment %} <a href="#" class="btn-download">
                    <i class='bx bxs-cloud-download' ></i>
                    <span class="text">Download PDF</span>
                </a> {% endcomment %}
            </div>

            {% block body %}
            
            {% endblock body %}



            


            
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->
    
 <script src="{% static 'js/homescript.js' %}"></script>
 
   {% block scripts %}
   
   {% endblock scripts %}


    
</body>
</html>