{% extends "staff/staffnav.html" %}

{% block body %}

<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="text-center">Policy Holder Record</h4>
      </div>
      <table class="table table-hover table-bordered table-striped" id="dev-table">
        <thead class="thead-dark">
          <tr>
          <th>#</th>
            <th>Policy</th>
            <th>Customer</th>
            <th> Applied Date</th>
            <th>Status</th>
            
          </tr>
        </thead>
        {% for t in policyrecords %}
        <tr>
          <td> {{ forloop.counter }}</td>
          <td> {{t.Policy}}</td>
          <td> {{t.customer}}</td>
          
          <td>{{t.creation_date}}</td>
          <td>{{t.status}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  
  <br><br><br><br><br><br>

{% endblock body %}